.title{
    font-size: 6rem;
    color: white;
}
.title1{
    color: white;
    padding-left: 130px;
    padding-top: -100px;
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: -3rem;
    margin-right: 1rem;

}
.pCard{
    color: rgb(220, 220, 220);
    padding-left: 130px;
    font-size: 0.9rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 0.5rem;
    margin-right: 1rem;

}
.tarjetas{
    background-color: #0d1224;
    border-radius: 2rem;
    height: 226px;
    width: 86%;
 }

 .imglogo{
    width: 6rem;
    margin-top: 1rem;
    margin-left: 1rem
 }

.tarjetas{
    background-color: #0d1224;
    border-radius: 3rem;
    gap: 1rem;
}

.remove{
    background-color:rgb(53, 49, 49) ;
    border-radius: 1rem;
    width: 5rem;
    height: 2rem;
     margin-left: 2rem;
    margin-top: 2rem;
}
.botones{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: flex-end;
    margin-top: -45px;
    gap: 50%;
}
.boton-imagen{
    width: 12%;
}