.Barra{
    width: 50rem;
    height: 3rem;
 background-color: #0d1224;
    display: flex;
    align-items: center;
    border-radius: 1rem;
    margin: auto;
    justify-content: space-between;
    margin-top: 5rem;
}
