.grid {
  display: grid;
  grid-template-columns: repeat(3, 200px);   
  grid-gap: 15px;
  justify-content: center;
  margin: 0 auto;
  max-width: 650px;
}

.item {
  padding: 30px;
  color: white;
  display: flex;
  flex-direction: column;     
  justify-content: flex-end;
  align-items: flex-start;
  border-radius: 4px;
  font-size: 1.1rem;
}


.big {
  grid-column: 2;      
  grid-row: span 2;    
}


.wide {
  grid-column: span 2;
}

.icon {
  font-size: 2rem;
  opacity: 0.7;
  margin-bottom: 10px;
}

.big-icon {
  font-size: 4rem;
}

.green {
  background-color: #74a689;
}

.blue {
  background-color: #3c96c0;
}

.pink {
  background-color: #c75576;
}

.red {
  background-color: #b14d3a;
}

.orange {
  background-color: #d68c4c;
}

.gold {
  background-color: #ce9b33;
}
