
.titulos{
     margin-top: 1rem;
     margin-left: 37rem;
     text-decoration: none;
     font-size: 2rem;
     color: #016C6A;
     gap: 10rem;
}



.parrafo{
     margin-top: 1rem; 
     text-decoration: none; 
     font-size: 1rem;
     display: flex;
     align-items: center;
     justify-content: center;
}

.seccion-comic{
    background-color: #A5D9C3;
    height: 42rem;
    margin-top: 99px;
    
    

}

.comic{
     font-size:26px;
     display: flex;
     align-items: center;
     justify-content: center;
     height: 130px


}


.historia{
    margin-left: 876px;
    background-color: #B8D1E6;
    width: 16rem;
    height: 4rem;
    margin-left: 46rem
     
}
.parrafo-2{
    font-size: 1rem;
    display: flex;
     align-items: center;
     justify-content: center;
     width: 15rem;
    height: 7rem;
    margin-top: -17rem;
    margin-left: 47rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.seccion-comic img{
      width: 14rem;
    margin-top: -6rem;
    margin-left: 17rem;

}