/* GRID para centrar el logo */
.nav-grid {
  display: grid;
  grid-template-columns: 1fr auto 1fr; /* izquierda | centro | derecha */
  align-items: center;
  height: 100%;
}

/* Centro perfecto para el logo */
.nav-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Asegura proporción del logo */
.logo-img {
  width: 180px;
  display: block;
  margin-right: -130px;
}

/* Enlaces */
.nav-link-custom {
  color: #000;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
}

.nav-link-custom:hover {
  text-decoration: underline;
}

/* Iconos */
.nav-icon {
  font-size: 1.3rem;
  cursor: pointer;
  transition: 0.2s;
}

.nav-icon:hover {
  transform: scale(1.2);
}